p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Lobster Two', cursive;
}

/* slideshow */
.mySlides { display: none;}


/* full screen images */
body, html {
    height: 100%;
  }
  

    
  .fs {
    
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .img-1 {
    /* The image used */
    background-image: url("../img/closeup-beach-1.jpg");
  } 

  .img-2 {
    /* The image used */
    background-image: url("../img/white-sand-2.jpg");
  }
  /* Full screen videos */

  .fs-video {
    margin:auto;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }

  audio {
    display:block;
    width:230px;
    height:30px;
  } 

  figcaption {
    font-size:8px;
  }